/* -------------------- global  -------------------- */

body {
	cursor: default;
	padding-left: 2%;
	padding-right: 2%;

	/* font-family: 'Roboto', sans-serif;
	font-family: 'Open Sans', sans-serif; */
	font-family: 'Ubuntu', sans-serif;

	background-color: #d6d2d2;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='436' height='363.3' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.02'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

html {
	font-size: 1vw;
}
/* -------------------- header  -------------------- */

#header{
	font-family: 'Roboto', sans-serif;
	box-shadow: 0px 1px 3px 0px rgba(0, 140, 255, 0.2);
	background: rgba(255, 255, 255, 0.616);
	overflow:auto;

	border-radius: 1rem;
	margin-bottom: 2%;
}

#header2 {
	font-family: 'Roboto', sans-serif;
	box-shadow: 0px 1px 3px 0px rgba(255, 0, 0, 0.2);
	overflow:auto;
	margin-bottom: 2%;
}


#header ul li,#header2 li {
	padding:0.8em;
}

/* logo */
#logoA {
	margin: 1% auto;
}

a > .logo {
	height: 7vh;
}

/* --------------------  effet des liens -------------------- */

/* effet ligne en dessous des liens*/
.cool-link {
    /* display: inline-block; */
    color: rgb(#35a9f9);
	text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 0.19vh;
    background: linear-gradient(to right, #ffffff1f, #17559c5d, #2658869f, #1d68a1, #2ca1f0,#35a9f9);
	transition: width .3s;
	border-radius: 10rem;
}

.cool-link:hover::after {
    width: 100%;
	transition: width .3s;
}

/* -------------------- middle  -------------------- */

#middle {
    margin: auto;

	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2%;
	padding-bottom: 2%;

	/* text-align: center; */
}

#middle > div > ul{
	list-style-type:none;
	margin-top:-1%;
	margin-bottom:2%;
	padding-bottom: 2%;
	padding-top: 2%;
	padding-right: 2%;
	margin-left: auto;
	margin-right: auto;
}

#middle > ul > li {
	display: grid;
}

span {
	font-family: 'Roboto', sans-serif;
	font-size: 90%;
	color:rgba(30, 100, 206, 0.527);
}

/* .tableaubdd {
	font-family: 'Roboto', sans-serif;
	box-shadow: 0px 1px 3px 0px rgba(255, 0, 0, 0.2);
	overflow:auto;
} */

/* effet couleur degradé titre*/
#titre {
	/* background: linear-gradient(to right, #ffffff1f, rgb(31, 122, 192), #0d7dc7 , #ffffff1f) ,url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3CradialGradient id='a' cx='800' cy='371' r='100%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23edfffb'/%3E%3Cstop offset='1' stop-color='%23c2cbcc'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='800' cy='371' r='38.1%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f0fcff' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%23f0fcff' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1600' height='900'/%3E%3Cg fill='none' stroke='%23a9b4ee' stroke-width='5.1' stroke-miterlimit='10' stroke-opacity='0.48'%3E%3Cpolygon points='2277.4 1152 800-1407-677.4 1152'/%3E%3Cpolygon points='800-1372.9-648.8 1136.5 2248.8 1136.5'/%3E%3Cpolygon points='800-1338.8-620.2 1121.1 2220.2 1121.1'/%3E%3Cpolygon points='800-1304.7-591.6 1105.6 2191.6 1105.6'/%3E%3Cpolygon points='800-1270.6-563 1090.2 2163 1090.2'/%3E%3Cpolygon points='800-1236.5-534.4 1074.7 2134.4 1074.7'/%3E%3Cpolygon points='800-1202.4-505.8 1059.3 2105.8 1059.3'/%3E%3Cpolygon points='800-1168.3-477.2 1043.8 2077.2 1043.8'/%3E%3Cpolygon points='800-1134.2-448.6 1028.4 2048.6 1028.4'/%3E%3Cpolygon points='800-1100.1-420 1012.9 2020 1012.9'/%3E%3Cpolygon points='800-1066-391.4 997.5 1991.4 997.5'/%3E%3Cpolygon points='800-1031.9-362.7 982 1962.7 982'/%3E%3Cpolygon points='800-997.8-334.1 966.6 1934.1 966.6'/%3E%3Cpolygon points='800-963.7-305.5 951.1 1905.5 951.1'/%3E%3Cpolygon points='800-929.6-276.9 935.7 1876.9 935.7'/%3E%3Cpolygon points='800-895.5-248.3 920.2 1848.3 920.2'/%3E%3Cpolygon points='800-861.4-219.7 904.7 1819.7 904.7'/%3E%3Cpolygon points='800-827.3-191.1 889.3 1791.1 889.3'/%3E%3Cpolygon points='800-793.2-162.5 873.8 1762.5 873.8'/%3E%3Cpolygon points='800-759.1-133.9 858.4 1733.9 858.4'/%3E%3Cpolygon points='800-725-105.3 842.9 1705.3 842.9'/%3E%3Cpolygon points='800-690.9-76.7 827.5 1676.7 827.5'/%3E%3Cpolygon points='800-656.8-48.1 812 1648.1 812'/%3E%3Cpolygon points='800-622.7-19.4 796.6 1619.4 796.6'/%3E%3Cpolygon points='800-588.6 9.2 781.1 1590.8 781.1'/%3E%3Cpolygon points='800-554.5 37.8 765.7 1562.2 765.7'/%3E%3Cpolygon points='800-520.5 66.4 750.2 1533.6 750.2'/%3E%3Cpolygon points='800-486.4 95 734.8 1505 734.8'/%3E%3Cpolygon points='800-452.3 123.6 719.3 1476.4 719.3'/%3E%3Cpolygon points='800-418.2 152.2 703.9 1447.8 703.9'/%3E%3Cpolygon points='800-384.1 180.8 688.4 1419.2 688.4'/%3E%3Cpolygon points='800-350 209.4 673 1390.6 673'/%3E%3Cpolygon points='800-315.9 238 657.5 1362 657.5'/%3E%3Cpolygon points='800-281.8 266.6 642 1333.4 642'/%3E%3Cpolygon points='800-247.7 295.2 626.6 1304.8 626.6'/%3E%3Cpolygon points='800-213.6 323.9 611.1 1276.1 611.1'/%3E%3Cpolygon points='800-179.5 352.5 595.7 1247.5 595.7'/%3E%3Cpolygon points='800-145.4 381.1 580.2 1218.9 580.2'/%3E%3Cpolygon points='800-111.3 409.7 564.8 1190.3 564.8'/%3E%3Cpolygon points='800-77.2 438.3 549.3 1161.7 549.3'/%3E%3Cpolygon points='800-43.1 466.9 533.9 1133.1 533.9'/%3E%3Cpolygon points='800-9 495.5 518.4 1104.5 518.4'/%3E%3Cpolygon points='800 25.1 524.1 503 1075.9 503'/%3E%3Cpolygon points='800 59.2 552.7 487.5 1047.3 487.5'/%3E%3Cpolygon points='800 93.3 581.3 472.1 1018.7 472.1'/%3E%3Cpolygon points='800 127.4 609.9 456.6 990.1 456.6'/%3E%3Cpolygon points='800 161.5 638.5 441.2 961.5 441.2'/%3E%3Cpolygon points='800 195.6 667.2 425.7 932.8 425.7'/%3E%3Cpolygon points='800 229.7 695.8 410.2 904.2 410.2'/%3E%3Cpolygon points='800 263.8 724.4 394.8 875.6 394.8'/%3E%3Cpolygon points='800 297.9 753 379.3 847 379.3'/%3E%3Cpolygon points='800 332 781.6 363.9 818.4 363.9'/%3E%3C/g%3E%3Crect fill-opacity='0.48' fill='url(%23b)' width='1600' height='900'/%3E%3C/svg%3E"); */
	/* background-size: cover;
	border-radius: 2rem; */
	/* text-shadow: 0 0.05em 0 rgba(0, 0, 0, 0.863); */
	text-align: center;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;

	width: 55%;
	background: white;
	color: black;
	position: relative;
}

#titre::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: -webkit-linear-gradient(right, rgb(49, 238, 252), rgb(49, 194, 252) , rgb(10, 55, 253));
	background: linear-gradient(to right, rgb(49, 238, 252), rgb(49, 194, 252) , rgb(0, 10, 153));
	content: '';
	mix-blend-mode: screen;
}


#iconeLoisir {
	height:64px;
	width:64px;
}

/* photo de profile, bords arrondies */
.picture-resume {
	display: block;
	margin-left: auto;
	margin-right: auto;

	padding: 2%;
	height: 30vh;
	border-radius:30%;
}

/* -------------------- effet middle %competences flip -------------------- */

/* effet flip box rotation a 180degres horizontal */
.flip-box {
	width: 80%;
	height: 2em;
	border: 0.09em solid #b697fd2a;
	perspective: 100em;
	margin: 3%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.6em;
	text-shadow: 0 0.05em 0 rgba(0, 0, 0, 0.562);
}

.flip-box-inner {
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	border-radius:0.5em;

}

.flip-box:hover .flip-box-inner {
	transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.flip-box-front {
	border-radius: 0.5em;
}

.flip-box-back {
	transform: rotateX(180deg);
	border-radius: 0.5em;
}

/* -------------------- effet middle loisir flip -------------------- */

/* The flip card container - set the width and height to whatever you want.
We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
	background-color: transparent;
	/* width: 15vw; */
	height: 30vh;
	perspective: 100em;
	margin: 2%;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0 0.05em 0 rgba(0, 0, 0, 0.562);
}

  /* This container is needed to position the front and back side */
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;

	transition: transform 0.8s;
	transform-style: preserve-3d;
	border-radius:0.5em;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.flip-card-front {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flip-card-back {
	text-align: center;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
	background : linear-gradient(to right, #5f5f5f, #ada3a3, #5f5f5f);
	color: black;
	border-radius:0.5em;
}

/* Style the back side */
.flip-card-back {
	/* background-color: dodgerblue; */
	background : linear-gradient(to right, rgb(49, 238, 252), rgb(49, 194, 252) , rgba(50, 64, 255, 0.486));
	color: white;
	transform: rotateY(180deg);
	border-radius:0.5em;
}

/* -------------------- footer  -------------------- */

#footer {
    cursor: default;
    color:#35abf9af;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1vw;
	text-align: center;
}

/* -------------------- specification  -------------------- */

/* scroll bar */
body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(253, 253, 253, 0.493);
    background-color: rgb(56, 56, 56);
}

body::-webkit-scrollbar
{
    width: 0.6vw;
}

body::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgb(252, 252, 252);
    border-radius: 10em;
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
                                       40% 0%,
                                       75% 84%,
                                       from(rgb(49, 238, 252)),
                                       to(rgb(49, 194, 252)),
                                       color-stop(.6,rgb(50, 64, 255, 0.486)))
}


/* --------------------  effet opa -------------------- */

/* effet d'opacité >60% a >100% , scale 1.04 */
.opa{
	opacity: 0.6;
	transition: 0.3s;
}

.opa:hover {
	opacity: 1;
	transform: scale(1.04,1.04)
}

/* --- resp --- */

@media (max-width: 1200px) {
	html {
		font-size: 1.5vw;
	}
}

 @media (max-width: 1000px) {
	html {
		font-size: 2vw;
	}
}

@media (max-width: 800px) {
  html {
	  font-size: 2.5vw;
  }
}

/* @media screen and (orientation: landscape) { */

	#snackbar {
		visibility: hidden;
		min-width: 250px;
		margin-left: -125px;
		background-color: #333;
		color: #fff;
		text-align: center;
		border-radius: 2px;
		padding: 16px;
		position: fixed;
		z-index: 1;
		left: 50%;
		bottom: 30px;
		font-size: 17px;
	  }

	  #snackbar.show {
		visibility: visible;
		-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
		animation: fadein 0.5s, fadeout 0.5s 2.5s;
	  }

	  @-webkit-keyframes fadein {
		from {bottom: 0; opacity: 0;}
		to {bottom: 30px; opacity: 1;}
	  }

	  @keyframes fadein {
		from {bottom: 0; opacity: 0;}
		to {bottom: 30px; opacity: 1;}
	  }

	  @-webkit-keyframes fadeout {
		from {bottom: 30px; opacity: 1;}
		to {bottom: 0; opacity: 0;}
	  }

	  @keyframes fadeout {
		from {bottom: 30px; opacity: 1;}
		to {bottom: 0; opacity: 0;}
	  }